@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: local('Satisfy Regular'), local('Satisfy-Regular'), url(https://fonts.gstatic.com/s/satisfy/v10/rP2Hp2yn6lkG50LoCZOIHTWEBlw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher Regular'), local('Philosopher-Regular'), url(https://fonts.gstatic.com/s/philosopher/v12/vEFV2_5QCwIS4_Dhez5jcWBuT0020Nqf.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.PIC001 {
    background-image: url('../images/IMG 001.jpg');
}

.IMG{
    min-height: 30em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.PIC002 {
    background-image: url("../images/IMG 002.jpg");
}

.PIC003 {
    background-image: url("../images/IMG 003.jpg");
}

.PIC004 {
    background-image: url("../images/IMG 004.jpg");
}

.PIC005 {
    background-image: url("../images/IMG 005.jpg");
}

.text{
    position: relative;
    left: 38.5%;
    top: 13em;
    width: auto;
    border-radius: 1.1em;
    max-width: 25%;
}

.text span {
    font-family: Satisfy, fantasy;
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    z-index: 10;
    color: #e5e5e5;
    margin: 0.1em 0 0 0.1em;
    opacity: 0.75;
}

.text span:hover {
    color: #FFF;
}

section {
    max-width: 100%;
    height: 20em;
    background-color: #514439;
    font-family: Philosopher, fantasy;
    overflow: scroll;
    color: #e5e5e5;
    padding: 0 35% 0 35%;
    text-align: justify;
}

section:hover {
  color: #FFF;
}

section h2 {
    text-align: center;
    font-size: 1.3em;
}

section p {
  font-size: 1em;
}

section p p {
  line-height:  2;
}
