@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: local('Satisfy Regular'), local('Satisfy-Regular'), url(https://fonts.gstatic.com/s/satisfy/v10/rP2Hp2yn6lkG50LoCZOIHTWEBlw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher Regular'), local('Philosopher-Regular'), url(https://fonts.gstatic.com/s/philosopher/v12/vEFV2_5QCwIS4_Dhez5jcWBuT0020Nqf.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


*{
  box-sizing: border-box;
}
 /* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 501px) and (max-width:1000px){
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
} 

@media screen and (max-width:500px){
  .text span {
    margin: 0 20%;
    max-width: 60%;
    width: 100%;
  }
  .text{
    margin-right: 30%;
    max-width: 60%;
    width: 100%;
  }
section h2, .body-text{
    margin: 0 20%;
    max-width: 60%;
    width: 100%;
  }
}

@media screen and (min-width:501px) and (max-width:1000px){
 
  .text span {
    width: 25%;
    font-size: 100%;
  }
  
  .body-text{
    max-width: 50%;
  }
  
 section h2, .body-text{
    margin: 0 25%;
    width: 100%;
  }
  section h2{
    max-width: 50%;
    
  }
}

.PIC001 {
    background-image: url('../images/IMG 001.jpg');
}

.IMG{
    min-height: 35em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.PIC002 {
    background-image: url("../images/IMG 002.jpg");
    height: 35em;
}

.PIC003 {
    background-image: url("../images/IMG 003.jpg");
}

.PIC004 {
    background-image: url("../images/IMG 004.jpg");
}

.PIC005 {
    background-image: url("../images/IMG 005.jpg");
}

.text{
    position: relative;
    left: 32%;
    top: 20em;
    border-radius: 3em;
    background-color: #578393;
    text-align: center;
    padding-top: 0.6%;
    mix-blend-mode: screen;
    opacity: 0.7;
}
.text span, .text {
    width: 100%;
    max-width: 35%;
}
.text span {
    position: relative;
    font-family: Satisfy, fantasy;
    font-weight: 800;
    font-size: 5vw;
    text-align: center;
    z-index: 10;
    color: #e5e5e5;
    opacity: 0.8;
    margin: 0 0.5% 0 2%;
}

.text span:hover, .text:hover {
    opacity: 1;  
}

section {
    max-width: 100%;
    height: 15em;
    background-color: #514439;
    font-family: Philosopher, fantasy;
    overflow: scroll;
    color: #e5e5e5;
    text-align: justify;
}

section:hover {
  color: #FFF;
}

section h2 {
    text-align: center;
    font-size: 150%;
    max-width: 40%;
    padding: 3% 0;
}

section h2, .body-text{
    margin: 0 30%;
    width: 100%;
}

.body-text {
    font-size: 100%;
    max-width: 40%;
    padding-bottom: 3%; 
}

section p br {
    margin: 5% 0;
}
